/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

#container {
  min-width: fit-content;
  width: 100%;
  min-height: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  position: absolute;
}

#title {
  font-size: 2rem;
  font-weight: bold;
/*   text-align: center; */
}

#description {
  font-family: sans-serif;
  font-size: 1.2rem;
}

#x-title {
  font-size: 1.2rem;
}

#chart {
  position: relative;
}

#tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  font-family: sans-serif;
  pointer-events: none;
}

#tooltip-legend {
  position: absolute;
  width: 130px;
  display: block;
/*   top: 500px;
  right: 200px; */
/*   opacity: 0.7; */
/*   background-color: black; */
  border: solid;
  color: black;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 0.8rem;
}

#var-text {
  display: block;
  line-height: 14px;
  margin-top: 4px;
}

.cell:hover {
  fill: black;
}